<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
            <span class="align-middle">Student Management</span>
        </a>
        <ul class="sidebar-nav">

            <li class="sidebar-item active">
                <a class="sidebar-link" href="/studenthome/">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-header">Menu</li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/studentprofile/">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">My Profile</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/s_viewattendance/">
                    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">My Attendance</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/s_viewmarks/">
                    <i class="align-middle" data-feather="edit-3"></i> <span class="align-middle">My Marks</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/s_viewexams/">
                    <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Exam Schedule</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/s_viewfees/">
                    <i class="align-middle" data-feather="dollar-sign"></i> <span class="align-middle">Fee Status</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/s_viewtimetable/">
                    <i class="align-middle" data-feather="clock"></i> <span class="align-middle">Timetable</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/s_viewnotification/">
                    <i class="align-middle" data-feather="bell"></i> <span class="align-middle">Notifications</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/s_viewresult/">
                    <i class="align-middle" data-feather="folder"></i> <span class="align-middle">View Results</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/s_viewnotes/">
                    <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">View Notes</span>
                </a>
            </li>

        </ul>
    </div>
</nav>